body {
    background-color: #D16089;
    color: #F4F4F4;
    font-family: 'Montserrat', system-ui;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-container img{
    display: none;
}

/*____________________ HEADER ____________________*/
header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#close-cross{
    font-size: 60px;
    cursor: pointer;
    color: #F4F4F4;
    margin-right: 5%;
}
#close-cross:hover{
    color: #595959;
}
/*____________________ /HEADER ____________________*/



/*____________________ BODY ____________________*/
.wrapper{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content:space-evenly;
}
.text-container{
    text-align: center;
    width: 50%;
}
.text-container h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 3px solid #F4F4F4;
    padding-bottom: 2px;
    margin: 0;
}
.text-container p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

/*____________________ /BODY ____________________*/



/*____________________ FOOTER ____________________*/
footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-img{
    width: 100%;
}
/*____________________ /FOOTER ____________________*/


/*** _________________________ 1366px _________________________***/
@media (max-width: 1366px) {
    .text-container h1{
        font-size: 36px;
    }
    .text-container p{
        font-size: 18px;
    }
}
/*** _________________________ /1366px _________________________***/

/*** _________________________ 1366px _________________________***/
@media (max-width: 1366px) {
    .text-container h1{
        font-size: 36px;
    }
    .text-container p{
        font-size: 18px;
    }
}
/*** _________________________ /1366px _________________________***/

/*** _________________________ 960px _________________________***/
@media (max-width: 960px) {
    .text-container h1{
        font-size: 32px;
    }
    .text-container p{
        font-size: 16px;
    }
}
/*** _________________________ /960px _________________________***/



/*** _________________________ TABLET SCREEN _________________________***/
@media (max-width: 920px) {
    .human-img img{
        display: none;
    }
    .text-container img{
        float: left;
        display: inline;
        height: 284px;
        width: 204px;
        margin-right: 10px;
    }
    .text-container h1{
        font-size: 40px;
    }
    .text-container p{
        font-size: 20px;
    }
    #close-cross{
        font-size: 50px;
    }
    .text-container{
        width: 90%;
    }
}
/*** _________________________ /TABLET SCREEN _________________________***/


/*** _________________________ MOBILE SCREEN _________________________***/
@media (max-width: 700px) {
    header{
        height: 50px;
    }
    
    .text-container h1{
        font-size: 28px;
    }
    .text-container p{
        font-size: 16px;
    }
    .wrapper{
        justify-content: center;
    }
    .text-container img{
        float: left;
        display: inline;
        height: 214px;
        width: 154px;
        margin-right: 10px;
    }
    .text-container{
        width: 90%;
    }
}
/*** _________________________ /MOBILE SCREEN _________________________***/