body {
    background-color: #D16089;
    color: #F4F4F4;
    font-family: 'Montserrat', system-ui;
    height: 100%;
    margin: 0px;
}

/* HEADER */
header{
    width: 100%;
    height: 135px;
    background-color: #D16089;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-buttons{
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-self: flex-end;
}

.logo{
    padding: 50px;
    margin-left: 46px;
}

.button-header{
    margin: 50px;
}

.header-links{
    text-decoration: none;
    color: #F4F4F4;
}

.header-links:hover{
    border-bottom: 3px solid #F4F4F4;
    padding-bottom: 2px;
}

.home-button{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4F4F4;
    background-color:#D16089;
    border: solid 4px #F4F4F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BODY CONTENT */
#wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 24px;
}

.contentblock{
    background-color: #F4F4F4;
    color: #000000;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: #B4B4B4 1px solid;
    border-left: #B4B4B4 4px solid;
    border-right: #B4B4B4 4px solid;
    border-bottom: #B4B4B4 3px solid;
}

.block-img{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 90px;
}

.contentblock-text{
    margin-right: 120px;
    align-self: center;
    margin-left: 120px;
}

.block-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-wrap: wrap;
}

.block-link{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 70px;
}

#top-contentblock{
    border-radius: 40px 40px 0px 0px;
    border-top: #B4B4B4 4px solid;
}

#bottom-contentblock{
    border-radius: 0px 0px 40px 40px;
    border-bottom: #B4B4B4 4px solid;
}

/* FOOTER */
footer{
    display: flex;
    position: relative;
}

.footer-wave-img{
    width: 100%;
    margin-top: 50px;
}

.footer-block{
    width: 100%;
    height: 100px;
    top: 70%;
    background-color: #F4F4F4;
    color: #000000;
    position: absolute;
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}