body {
    background-color: #D16089;
    color: #F4F4F4;
    font-family: 'Montserrat', system-ui;
    height: 100%;
    margin: 0px;
}

/* HEADER */

.hamburger-tablet{
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.hamburger-mobile-img{
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.mobile-title{
    display: none;
}

header{
    width: 100%;
    height: 135px;
    background-color: #D16089;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons{
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-self: flex-end;
}

.logo{
    padding: 50px;
    margin-left: 46px;
}

.button-header{
    margin: 50px;
}

.header-links{
    text-decoration: none;
    color: #F4F4F4;
}

.header-links:hover{
    border-bottom: 3px solid #F4F4F4;
    padding-bottom: 2px;
}

.active-button{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4F4F4;
    background-color:#D16089;
    border: solid 4px #F4F4F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BODY CONTENT */
#wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 24px;
}

.contentblock{
    background-color: #F4F4F4;
    color: #000000;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: #B4B4B4 1px solid;
    border-left: #B4B4B4 4px solid;
    border-right: #B4B4B4 4px solid;
}

.block-img{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 90px;
}

.contentblock-text{
    margin-right: 120px;
    align-self: center;
    margin-left: 120px;
}

.block-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-wrap: wrap;
}

.block-link{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 70px;
}

#top-contentblock{
    border-radius: 40px 40px 0px 0px;
    border-top: #B4B4B4 4px solid;
}

#bottom-contentblock{
    border-radius: 0px 0px 40px 40px;
    border-bottom: #B4B4B4 4px solid;
}

/* FOOTER */
footer{
    display: flex;
    position: relative;
}

.footer-wave-img{
    width: 100%;
    margin-top: 50px;
}

.footer-block{
    width: 100%;
    height: 100px;
    top: 70%;
    background-color: #F4F4F4;
    color: #000000;
    position: absolute;
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#footer-right-text{
    width: 500px;
}


@media(max-width: 1030px){
    .header-buttons{
        font-size: 20px;
    }

    .active-button{
        border: solid 4px #F4F4F4;
        font-size: 20px;
    }
    .block-title{
        font-size: 28px;
    }
    .block-text{
        font-size: 20px;
    }
    .block-link{
        font-size: 20px;
    }
    .contentblock-text{
        margin-right: 100px;
    }
    #footer-right-text{
        width: 400px;
    }
}

@media (max-width: 960px) {
    .header-buttons {
        font-size: 18px;
    }
    .active-button {
        border: solid 3px #F4F4F4;
        font-size: 18px;
    }
}

@media (max-width: 926px) {
    .header-buttons {
        font-size: 16px;
    }
    .active-button {
        border: solid 2px #F4F4F4;
        font-size: 16px;
    }

    .rectangle-text {
        font-size: 44px;
    }
}





/* FOR TABLET IPAD AIR EXAMPLE */
@media (max-width: 895px) {
    header{
        height: 100px;
    }
    .logo{
        padding: 30px;
        margin-left: 0px;
    }
    .logo-img{
        width: 40px;
        height: 52px;
    }

    .header-buttons{
        display: none;
    }
    .hamburger-tablet{
        display: flex;
        margin-right: 28px;
    }
    .contentblock{
        width: 100%;
        border: #B4B4B4 1px solid;
        border-left: #B4B4B4 0px solid;
        border-right: #B4B4B4 0 px solid;
        border-bottom: #B4B4B4 3px solid;
    }    
    #top-contentblock{
        border-radius: 0px 0px 0px 0px;
        border-top: #B4B4B4 3px solid;
    }
    
    #bottom-contentblock{
        border-radius: 0px 0px 0px 0px;
        border-bottom: #B4B4B4 3px solid;
    }
    .contentblock-text{
        margin-right: 50px;
    }

    .footer-block{
        font-size: 14px;
    }
    #footer-right-text{
        width: 300px;
    }
}


/* TABLET TO MOBILE TRANSFORMATION */
@media (max-width: 755px) {
    .header-buttons{
        font-size: 18px;
    }

    .active-button{
        border: solid 4px #F4F4F4;
        font-size: 18px;
    }
    .block-title{
        font-size: 24px;
    }
    .block-text{
        font-size: 18px;
    }
    .block-link{
        font-size: 18px;
    }
    .contentblock-text{
        margin-left: 90px;
    }
    .footer-block{
        font-size: 12px;
    }
    #footer-right-text{
        width: 200px;
    }
}

@media (max-width: 660px){
    
    .mobile-header{
        display: flex;
        justify-content: space-between;
        margin-left: 35px;
        align-items: center;
        height: 100px;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .mobile-title{
        display: flex;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-bottom: #F4F4F4 3px solid;
    }
    .hamburger-mobile-img{
        display: flex;
    }


    header {
        height: 80px;
        flex-direction: row-reverse;
        z-index: -1;
        position: relative;
    }
    .hamburger-tablet{
        display: none;
    }

    .logo-img{
        padding: 10px;
        padding-right: 0px;
        width: 40px;
        height: 52px;
    }

    #wrapper{
        margin-top: 0px;
    }
    .block-img{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 60px;
    }

    .contentblock-text{
        margin-right: 30px;
        align-self: center;
        margin-left: 30px;
    }
    
    .block-title{
        font-size: 20px;
    }
    
    .block-text{
        font-size: 16px;
    }
    
    .block-link{
        font-size: 16px;
        margin-bottom: 40px;
    }
} 


@media (max-width: 440px){
    .block-img{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .contentblock-text{
        margin-right: 20px;
        align-self: center;
        margin-left: 20px;
    }
    
    .block-title{
        font-size: 18px;
    }
    
    .block-text{
        font-size: 14px;
    }
    
    .block-link{
        font-size: 14px;
        margin-bottom: 20px;
    }
}