body {
    background-color: #FFBFBF;
    color: #FFF;
    font-family: 'Montserrat', system-ui;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #D16089;
    height: 95px;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.back-to-home{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 170px;
    cursor: pointer;
    margin-left: 6%;
}

.back-to-home:hover{
    border-bottom: 3px white solid;
}

.text-back{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1em;
    row-gap: 1em;
    margin: 0;
    column-gap: 10%;
    row-gap: 10%;
    margin:0% 15% 0% 15%;
}

.grid-block{
    background-color: #FFF;
    color: black;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    height: 340px;
}

footer{
    background-color: #474747;
    height: 95px;
    width: 100%;
    box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
}
#cool-dude{
    margin-right: 10%;
    cursor: pointer;
}