body {
    background-color: #FFBFBF;
    color: #FFF;
    font-family: 'Montserrat', system-ui;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #D16089;
    height: 95px;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.back-to-home{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 170px;
    cursor: pointer;
    margin-left: 6%;
}

.back-to-home:hover{
    border-bottom: 3px white solid;
}

.text-back{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1em;
    row-gap: 1em;
    margin: 0;
    column-gap: 10%;
    row-gap: 10%;
    margin:0% 15% 0% 15%;
}

.grid-block{
    background-color: #FFF;
    color: black;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    height: 340px;
    transition: transform 0.1s ease;
    display: flex;
    flex-direction: column;
}
.block-picture{
    width: 320px;
    height: 240px;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, gray, lightgray) 1;
}
.game-tittle{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 30px;
    margin-top: 10px;
}
.game-dicription{
    color: #A6A6A6;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 30px;
    margin-top: 6px;
}

footer{
    background-color: #474747;
    height: 95px;
    width: 100%;
    box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
}
#cool-dude{
    margin-right: 10%;
    cursor: pointer;
}


/* _________________________OVERLAY____________________________ */

.overlay{
    background-color: #160131;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease;
}
.overlay.hiden{
    top: -100%;
}

.overlay-header{
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.overlay-main{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 20%;
}

.overlay-main-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.overlay-top-text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.overlay-top-text>p{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.overlay-bottom-text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#overlay-tongue{
    position: absolute;
    bottom: -10%;
    height: 15%;
    width: 10%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px 40px 0 0 ;
    background-color: #31306B;
    border-top: 5px dashed #5963BD;
    border-right: 5px dashed #5963BD;
    border-left: 5px dashed #5963BD;
    transition: bottom 0.3s ease;
}

#overlay-tongue:hover{
    bottom: 0;
    cursor: pointer;
}