body {
    background-color: #D16089;
    color: #F4F4F4;
    font-family: 'Montserrat', system-ui;
    margin: 0;
    height: 100%;
}

.mobile-scene {
    display: none;
}

#notebook-scene{
    display: none;
}

/* HEADER */
header {
    width: 100%;
    height: 135px;
    top: -135px;
    background-color: #D16089;
    transition: all .2s ease;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.fixed{
    position: fixed;
    transform: translateY(135px);
    background-color: #0f283ad3;
}

.hamburger-tablet{
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.hamburger-mobile{
    display: none;
    height: 50px;
    width: 50px;
}
.hamburger-mobile-img{
    cursor: pointer;
}

.header-buttons {
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-self: flex-end;
}

.logo {
    padding: 50px;
    margin-left: 46px;
}

.button-header {
    margin: 50px;
}

.header-links {
    text-decoration: none;
    color: #F4F4F4;
}

.header-links:hover {
    border-bottom: 3px solid #F4F4F4;
    padding-bottom: 2px;
}

#active-button {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4F4F4;
    border: solid 4px #F4F4F4;
    padding: 0px 5px 2px 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BODY */
/* 3 lvl title & description styles*/
.title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.title-img {
    margin-right: 100px;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    line-height: normal;
    margin-left: 96px;
}

#top-level-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

#middle-level-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}

#bottom-level-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 6px;
}

#subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 25px;
}

#description {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
    width: 245px;
}


/* "Try Now" button */
.button-container {
    margin-top: 50px;
}

.button {
    height: 60px;
    width: 150px;
    cursor: pointer;
    color: #F4F4F4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #D16089;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 18px 12px 18px;
    border: solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active {
    background-color: #F4F4F4;
    color: #111111;
    border: solid #111111;
}

/* rectangle-on-scroll block */
.rectangle-on-scroll {
    position: relative;
    justify-content: center;
    display: flex;
}

.rectangle-img {
    width: 100%;
    margin-top: 100px;
}

.rectangle-text {
    max-width: 100%;
    color: #7B7B7B;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 50%;
}

/* 4 content blocks */
.content-block {
    margin-top: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    filter: drop-shadow(-4px 6px 4px rgba(0, 0, 0, 0.25));
}

.square {
    width: 708px;
    height: 434px;
    background-color: #F4F4F4;
    color: #000000;
    align-items: center;
}

.square-shadow {
    width: 10px;
    height: 434px;
    background-color: #969595;
}

.img-with-text {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.square h3 {
    margin-left: 275px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

#first-block-title {
    margin-bottom: 16px;
}

#first-block {
    margin-left: 76px;
}

#first-block p {
    margin-left: 46px;
}

#second-block-title {
    margin-bottom: 73px;
}

#second-block {
    margin-left: 74px;
}

#second-block p {
    margin-left: 44px;
}

#third-block-title {
    margin-bottom: 46px;
}

#third-block {
    margin-left: 93px;
}

#third-block p {
    margin-left: 53px;
}

#fourth-block-title {
    margin-bottom: 99px;
}

#fourth-block {
    margin-left: 113px;
}

#fourth-block p {
    margin-left: 83px;
}

/* FOOTER */
footer {
    display: flex;
    position: relative;
}

.footer-wave-img {
    width: 100%;
    margin-top: 150px;
}

.footer-block {
    width: 100%;
    height: 100px;
    top: 70%;
    background-color: #595959;
    position: absolute;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#footer-right-text{
    width: 500px;
}



/* ON DISPLAY SIZE CHANGED*/
@media (max-width: 1366px){
    #notebook-scene{
        display: flex;
    }
    #desktop-scene{
        display: none;
    }
    .button {
        height: 55px;
        width: 140px;
        font-size: 18px;
    }
}

@media (max-width: 1160px) {

    /* HEADER */

    header {
        height: 125px;
    }

    .header-buttons {
        font-size: 20px;
    }

    #active-button {
        border: solid 3px #F4F4F4;
        font-size: 20px;
    }

    .logo {
        display: flex;
        width: 33px;
        height: 41px;
    }


    /* BODY */

    .title-img {
        margin-right: 100px;
        display: flex;
        width: 432px;
        height: 306px;
    }

    #top-level-title {
        font-size: 26px;
    }

    #middle-level-title {
        font-size: 34px;
    }

    #bottom-level-title {
        font-size: 40px;
    }

    #subtitle {
        font-size: 16px;
    }

    #description {
        font-size: 16px;
    }

    /* TRY NOW BUTTON */
    .button-container{
        margin-top: 40px;
    }

    .button {
        font-size: 16px;
        padding: 10px 15px 10px 15px;
        height: 50px;
        width: 120px;
    }
    

    /* RECTANGLE */
    .rectangle-text {
        font-size: 52px;
    }


    /* 4 content blocks */
    .content-block {
        margin-top: 125px;
    }

    .square {
        width: 590px;
        height: 361px;
    }

    .square-shadow {
        width: 8px;
        height: 361px;
    }

    .square h3 {
        margin-left: 230px;
        font-size: 32px;
    }

    #first-block-title {
        margin-bottom: 12px;
    }

    #first-block {
        margin-left: 62px;
    }

    #first-block p {
        margin-left: 38px;
    }

    #second-block-title {
        margin-bottom: 60px;
    }

    #second-block {
        margin-left: 62px;
    }

    #second-block p {
        margin-left: 36px;
    }

    #third-block-title {
        margin-bottom: 38px;
    }

    #third-block {
        margin-left: 78px;
    }

    #third-block p {
        margin-left: 44px;
    }

    #fourth-block-title {
        margin-bottom: 82px;
    }

    #fourth-block {
        margin-left: 94px;
    }

    #fourth-block p {
        margin-left: 70px;
    }

    #building-img {
        width: 128px;
        height: 195px;
    }

    #house-img {
        width: 131px;
        height: 105px;
    }

    #zero-img {
        width: 108px;
        height: 150px;
    }

    #wind-img {
        width: 66px;
        height: 61px;
    }

    /* FOOTER */
    .footer-block {
        height: 82px;
        font-size: 13px;
    }
    #footer-right-text{
        width: 400px;
    }
}


@media (max-width: 960px) {
    .header-buttons {
        font-size: 18px;
    }
    #active-button {
        border: solid 3px #F4F4F4;
        font-size: 18px;
    }
}

@media (max-width: 930px) {
    .header-buttons {
        font-size: 16px;
    }
    #active-button {
        border: solid 2px #F4F4F4;
        font-size: 16px;
    }

    .rectangle-text {
        font-size: 44px;
    }
    header{
        height: 100px;
    }
    .logo{
        padding: 30px;
    }
}







/* FOR TABLET IPAD AIR EXAMPLE */
@media (max-width: 900px) {
    /* HEADER */

    header{
        height: 100px;
    }

    .hamburger-tablet{
        display: flex;
        margin-right: 28px;
    }
    .header-buttons {
        display: none;
    }

    .logo {
        display: flex;
        width: 33px;
        height: 41px;
        padding: 30px;
    }

    /* BODY */

    .title-img {
        margin-right: 100px;
        display: flex;
        width: 360px;
        height: 255px;
        margin-right: 30px;
    }

    /* TRY NOW BUTTON */

    .button-container {
        margin-top: 35px;
    }
    
    .button {
        width: 245px;
        height: 60px;
        font-size: 22px;
        padding: 10px 15px 10px 15px;
    }


    /* 4 content blocks */
    .content-block {
        margin-top: 104px;
    }

    .square {
        width: 491px;
        height: 300px;
    }

    .square-shadow {
        width: 6px;
        height: 300px;
    }

    .img-with-text {
        font-size: 20px;
    }

    .square h3 {
        margin-left: 191px;
        font-size: 26px;
    }

    #first-block-title {
        margin-bottom: 10px;
    }

    #first-block {
        margin-left: 51px;
    }

    #first-block p {
        margin-left: 31px;
    }

    #second-block-title {
        margin-bottom: 50px;
    }

    #second-block {
        margin-left: 51px;
    }

    #second-block p {
        margin-left: 30px;
    }

    #third-block-title {
        margin-bottom: 31px;
    }

    #third-block {
        margin-left: 65px;
    }

    #third-block p {
        margin-left: 36px;
    }

    #fourth-block-title {
        margin-bottom: 68px;
    }

    #fourth-block {
        margin-left: 78px;
    }

    #fourth-block p {
        margin-left: 58px;
    }

    #building-img {
        width: 106px;
        height: 162px;
    }

    #house-img {
        width: 109px;
        height: 87px;
    }

    #zero-img {
        width: 90px;
        height: 125px;
    }

    #wind-img {
        width: 55px;
        height: 50px;
    }

    /* FOOTER */
    #footer-right-text{
        width: 300px;
    }
}





/* TABLET TO MOBILE TRANSFORMATION */
@media (max-width: 755px) {
    header {
        display: none;
    }
    .hamburger-tablet{
        display: none;
    }

    .hamburger-mobile{
        display: flex;
        align-self: flex-start;
        margin-left: 28px;
        margin-top: -28px;
        margin-bottom: -50px;
        position: sticky;
        top: 0;
        padding-top: 28px;
        z-index: 1;
    }

    /* BODY */
    /* 3 lvl title & description styles*/
    .title-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    .logo{
        padding: 10px;
        padding-right: 30px;
    }
    .title-img {
        display: none;
    }

    .mobile-scene {
        display: flex;
        width: 270px;
        height: 190px;
        margin: 0;
    }

    .title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-style: normal;
        line-height: normal;
        margin: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #top-level-title {
        margin-top: 0px;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
        margin-left: 30px;
    }

    #middle-level-title {
        font-size: 40px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 30px;
    }

    #bottom-level-title {
        font-size: 48px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 6px;
        margin-left: 30px;
    }

    #subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        margin-top: 6px;
        margin-bottom: 25px;
    }

    #description {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 25px;
        width: 290px;
    }


    /* "Try Now" button */
    .button-container {
        margin-top: 35px;
        align-self: center;
    }

    .button {
        cursor: pointer;
        width: 185px;
        height: 80px;
        color: #F4F4F4;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #D16089;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 12px 18px 12px 18px;
        border: solid #F4F4F4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .button:active {
        background-color: #F4F4F4;
        color: #111111;
        border: solid #111111;
    }

    /* rectangle-on-scroll block */
    .rectangle-on-scroll {
        position: relative;
        justify-content: center;
        display: flex;
        z-index: -1;
    }

    .rectangle-img {
        width: 100%;
        margin-top: 82px;
    }

    .rectangle-text {
        max-width: 100%;
        color: #7B7B7B;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        position: absolute;
        top: 60%;
    }

    /* 4 content blocks */
    .content-block {
        margin-top: 78px;
    }

    .square {
        width: 266px;
        height: 204px;
    }

    .square-shadow {
        width: 4px;
        height: 204px;
    }

    .img-with-text {
        font-size: 14px;
    }

    .square h3 {
        margin-top: 20px;
        margin-left: 143px;
        font-size: 16px;
    }

    #first-block-title {
        margin-bottom: 8px;
    }

    #first-block {
        margin-left: 38px;
    }

    #first-block p {
        margin-left: 23px;
    }

    #second-block-title {
        margin-bottom: 37px;
    }

    #second-block {
        margin-left: 38px;
    }

    #second-block p {
        margin-left: 22px;
    }

    #third-block-title {
        margin-bottom: 23px;
    }

    #third-block {
        margin-left: 48px;
    }

    #third-block p {
        margin-left: 27px;
    }

    #fourth-block-title {
        margin-bottom: 15px;
        margin-left: 123px;
    }

    #fourth-block {
        margin-left: 38px;
    }

    #fourth-block p {
        margin-left: 43px;
    }

    #building-img {
        width: 80px;
        height: 121px;
    }

    #house-img {
        width: 82px;
        height: 65px;
    }

    #zero-img {
        width: 68px;
        height: 94px;
    }

    #wind-img {
        width: 41px;
        height: 38px;
    }

    /* FOOTER */

    .footer-wave-img {
        width: 100%;
        margin-top: 25px;
    }

    .footer-block {
        font-size: 10px;
    }
    #footer-right-text{
        width: 200px;
    }
}