body {
    background-color: #D16089;
    color: #F4F4F4;
    font-family: 'Montserrat', system-ui;
    margin: 0;
    height: 100%;
}

/* HEADER */
header{
    width: 100%;
    height: 135px;
    background-color: #D16089;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-buttons{
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-self: flex-end;
}

.logo{
    padding: 50px;
    margin-left: 46px;
}

.button-header{
    margin: 50px;
}

.header-links{
    text-decoration: none;
    color: #F4F4F4;
}

.header-links:hover{
    border-bottom: 3px solid #F4F4F4;
    padding-bottom: 2px;
}

.active-button{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4F4F4;
    background-color:#D16089;
    border: solid 4px #F4F4F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BODY */
/* 3 lvl title & description styles*/
.title-container{
    display:flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.title-img{
    margin-right: 100px;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    line-height: normal;
    margin-left: 96px;
}

#top-level-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
#middle-level-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 12px;
}
#bottom-level-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 6px;
}
#subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 25px;
}
#description{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}


/* "Try Now" button */
.button-container{
    margin-top: 50px;
}
.button{
    cursor: pointer;
    color: #F4F4F4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #D16089;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 18px 12px 18px;
    border: solid #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:active{ 
    background-color: #F4F4F4;
    color: #111111;
    border: solid #111111;
}

/* rectangle-on-scroll block */
.rectangle-on-scroll{
    position: relative;
    justify-content: center;
    display: flex;
}
.rectangle-img{
    width: 100%;
    margin-top: 100px;
}
.rectangle-text{
    max-width:100%;
    color: #7B7B7B;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 50%;
}

/* 4 content blocks */
.content-block{
    margin-top: 150px;
    display: flex;
    position: relative;
    justify-content: center;
    filter: drop-shadow(-4px 6px 4px rgba(0, 0, 0, 0.25));
}

.square{
    width: 708px;
    height: 434px;
    background-color: #F4F4F4;
    color: #000000;
    align-items: center;
}
.square-shadow{
    width: 10px;
    height: 434px;
    background-color: #969595;
}
.img-with-text{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.square h3{
    margin-left: 275px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

#first-block-title{
    margin-bottom: 16px;
}
#first-block{
    margin-left: 76px;
}
#first-block p{
    margin-left: 46px;
}

#second-block-title{
    margin-bottom: 73px;
}
#second-block{
    margin-left: 74px;
}
#second-block p{
    margin-left: 44px;
}

#third-block-title{
    margin-bottom: 46px;
}
#third-block{
    margin-left: 93px;
}
#third-block p{
    margin-left: 53px;
}

#fourth-block-title{
    margin-bottom: 99px;
}
#fourth-block{
    margin-left: 113px;
}
#fourth-block p{
    margin-left: 83px;
}

/* FOOTER */
footer{
    display: flex;
    position: relative;
}

.footer-wave-img{
    width: 100%;
    margin-top: 150px;
}

.footer-block{
    width: 100%;
    height: 100px;
    top: 70%;
    background-color: #595959;
    position: absolute;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}